/*reset CSS*/
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*criando variáveis de cor*/
:root{
    --letter-color: #FFFCF2;
    --grey: #CCC5B9;
    --mid-color: #403D39;
    --dark-color: #252422;
    --orange: #EB5E28;
}


/*nav*/
.c-nav{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    background-color: rgb(124, 152, 152);
}

.nLink{
    color: rgb(254, 255, 254);
    border-bottom: 3px solid transparent;
    transition: transform 0.8s ease-in-out;
}

.nLink:hover, a.active{
    border-bottom: 3px solid rgb(255, 255, 255);
    transform: scale(1.05);
    transition: all 0.8s;
    color: rgb(40, 63, 55);
}


/*home*/
.conteudo-home{
    padding: 10px;
}

.c-title{
    display: flex;
    justify-content: center;
}

.c-title h1{
    text-align: center;
    color: rgb(38, 118, 91);
    margin: 5% 0% 2% 0%;
}

.conteudo-home p{
    background-color: rgba(134, 169, 161, 0.61);
    color: rgb(29, 113, 113);
    border: 4px dashed;
    border-radius: 2%;
    padding: 5px;
}


/*Produtos*/
.c-produto{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.img{
    width: 200px;
    border: 2px solid black;
    padding: 2px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.img:hover{
    background-color: rgb(76, 109, 109);
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.produto h1{
    text-align: center;
    margin-top: 5%;
    color: rgb(66, 109, 95);
}


/*Sobre*/
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 5%;
}

.sobre h1{
    padding: 3%;
    color: rgb(46, 93, 77);
    text-transform: uppercase;
    margin-top: 5%;
}

.c-sobre p{
    color: rgb(77, 103, 94);
    text-align: justify;
}

.gif{
    text-align: center;
    margin: 0% 0% 5% 0%;
    border-radius: 20px;
    border: 5px solid rgb(73, 113, 110);
    transition: all 0.3s ease-in-out;
}

.gif:hover{
    transform: scale(1.30);
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    border: 5px solid rgb(71, 190, 144);
}


/*rodape*/
footer{
    display: flex;
    justify-content: center;
    margin: 10% 0% 2% 0%;
    background-color: rgb(114, 124, 121);
}

footer h6{
    color: rgb(217, 251, 239);
    padding: 20px;
}